.container {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  text-align: center;
}

.slider-group {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  transform: rotate(270deg);
  transform-origin: 50% 50%;
  margin: 100px 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 50%;
}

.value-display {
  margin-top: 10px;
  font-weight: bold;
}